/* ============================================= */
/* ===                LOADER                 === */
/* ============================================= */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 10px;
  margin-left: calc(50% - 7.5px);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: lightblue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
  
  /* ============================================= */
  
  * {
    font-family: 'Montserrat', sans-serif;
  }
  
  file-app {
    display: block;
    width: 600px;
    margin: 0 auto;
    position: relative;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, button {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    outline: 0;
  }
  
  input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #999;
  }
  
 button:hover {
    background: #ccc;
    cursor: pointer;
  }

  .flex {
    display: flex;
  }
  
  .vertical {
    display: flex;
    flex-direction: column;
  }
  
  .init-form {
    width: 300px;
    margin: 80px auto;
  }
  
  .init-form > section {
    margin-bottom: 20px
  }
  
  
  /* ==================================== */
  
  #file-list {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .file {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid lightgrey;
    cursor: pointer;
    position: relative;
    margin-right: 47px;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .file.selected {
    border: 1px solid cornflowerblue;
    font-weight: bold;
    background: aliceblue;
  }

  .file:nth-child(5n) {
    margin-right:0px;
  }

  .file .file-name {
    width: 80px;
    position: absolute;
    top: 82px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
  }
  
  .file:hover {
    background: aliceblue;
  }
  
  .tiny-btn {
    font-size: 12px;
    color: darkblue;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .dir-icon:before {
    content: "[d]";
    margin-right: 5px;
    color: grey;
    font-size: 12px;
  }
  
  #frame-name {
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
  }
  
  #path-div {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 14px;
    font-weight: bold;
  }
  
  #reset-btn {
    color: darkred;
    /*width: 100%;
    text-align: center;*/
    margin: 0px auto;
    margin-top: 100px;
  }

  .tiny-btn:hover {
    font-weight: bold;
  }

  .file-info {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .file-info .filename {
    font-weight: bold;
  }

  .file-extension {
    font-weight: bold;
    color: lightgrey;
    text-align: center;
    width: 100%;
    margin-top: 32px;
    user-select: none;
  }

  .file.selected .file-extension {
    color: cornflowerblue;
  }

  .file img {
    user-select: none;
  }

  .light-bg {
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
  }

  .viewer {
    width: 580px;
    left: calc(50% - 290px);
    position: absolute;
    background: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 4;
    margin-top: 120px;
  }

  #ext-selector {
    position: absolute;
    left: calc(50% - 100px);
    z-index: 4;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    background: white;
    margin-top: 150px;
  }

  .list {
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 14px;
  }

  .list .el {
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    line-height: 1.5;
  }

  .list .el:hover {
    background: aliceblue;
    cursor: pointer;
  }

  .list .el:last-child {
    border-bottom: 0px;
  }

  .image-viewer-icon:before {
    background-image: url("icons8-image-file-64.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    margin-right: 5px;
    content:"";
  }

  .text-viewer-icon:before {
    background-image: url("icons8-text-64.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    margin-right: 5px;
    content:"";
  }

  code {
    font-family: 'Source Code Pro', monospace;
  }

  pre {
    padding: 10px;
    background: darkslategray;
    color: white;
    font-size: 14px;
    max-width: 580px;
    max-height: 400px;
    overflow: auto;
    margin: 0px;
  }

  .frame-error {
    font-size: 14px;
    color: indianred;
    text-align: center;
    margin-bottom: 10px;
  }

  .filesize {
    margin-left: 10px;
    font-size: 13px;
  }