<div class="vertical init-form">
    <section class="vertical">
        <label>Key</label>
        {{input type="password" value=key}}
    </section>
    <section class="vertical">
        <button {{action "setKey"}}>Browse</button>
    </section>
</div>